.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  width: 100vw;
  height: 100vh;
}

.child {
  background-color: brown;
  border: double;
  border-color: black;
}

.child1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: green;
}